# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: Test mkdocs build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Codespell action
      uses: codespell-project/actions-codespell@master
      with:
        check_filenames: true
        path: docs

    - name: Markdown Linting Action
      uses: avto-dev/markdown-lint@v1.2.0
      with:
        rules: '/lint/rules/changelog.js'
        config: '/lint/config/changelog.yml'
        args: 'docs'

    - name: install mkdocs
      run: |
          pip install -r docs/requirements.txt
          mkdocs --version

    - name: build tutorial
      run: mkdocs build --strict
