name: Check URLs

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - develop
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: URLs-checker
      uses: SuperKogito/URLs-checker@0.1.2
      with:
        # The project base path.
        git_path: https://github.com/easybuilders/easybuild

        # A comma-separated list of file types to cover in the URL checks
        file_types: .md,.py,.rst,.eb,.sh

        # Choose whether to include file with no URLs in the prints.
        print_all: False
